.navbar_background {
    height: 8vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 3fr 0.3fr;
    grid-template-rows: 40px;
    background-color: white;
    align-content: center;
}
.identity { 
    display:grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    margin: 5px 5px 5px 5px;
}
.Title {
    text-decoration: none;
    font-family: "BMJUA_ttf";
    font-size: 20px;
    color: black;
    white-space: pre;
    background: none;
    border: none;
    cursor: pointer;
}
.nav_options {
    width: 100%;    
    padding: 5px 0px;
    text-align: right;
}
.navbar_menu {
    color: black;
    margin: min(5%, 15px);
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-family: "BMJUA_ttf";
    font-size: 16px;
}
.navbar_menu:hover {
    text-decoration: underline;
}